/**
 * page layout
 */
body
{
	/* padding: 40px 0px 25px 0px; */
}

#shibal-footer
{
	text-align: center;
}

/**
 * header
 */

/**
 * footer
 */

/**
 * content
 */

/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}

.clearfix:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}